{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-secondary" role="alert">
    {{message}}
</div>

{%endfor%}

<br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        <h2>{{ post.title }}</h2>
        <br>
        <small> <strong> By : {{ post.poster.name }} </strong></small>
        <br>


        Date : {{ post.date_posted }} | {{ post.slug }}
        <br>
        <br>
        {{post.content}}
        <br>
        <hr>
</div>

<a href="{{url_for('edit',id = post.id)}}" class="btn btn-outline-info btn-small">Edit Post</a>
<a href="{{url_for('posts')}}"class = "btn btn-outline-dark btn-small">Back to Blog</a>
<a href="{{url_for('deletepost',id = post.id)}}"class = "btn btn-outline-danger btn-small">Delete Blog</a>

{%endblock%}